.cardsi {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardsi ul li {
    list-style: none;

}

.cardsi .cardi ul li h1,
p {
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.imagecontainer {
    border-radius: 15px;
    height: 250px;
    width: 300px;
    /* border: 4px darkred black; */
    object-fit: cover;
}

.img {
    border-radius: 2px;
    height: 100%;
    width: 100%;
}

