.cardsi {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardsi ul li {
    list-style: none;

}

.cardsi .cardi ul li h1,
p {
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.wrapo{

        box-shadow: 0px 15px 20px rgb(255, 255, 255);
      
}


.nava{
    display: flex !important;
   /* flex-direction: row;
   row-gap: 50px; */
}
/* -------------------------list button-------------------------------------- */

/* CSS */
.button-50 {
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .button-50:focus {
    text-decoration: none;
  }
  
  .button-50:hover {
    text-decoration: none;
  }
  
  .button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }
  
  .button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .button-50 {
      padding: 12px 50px;
    }
  }



/* .nava a{
   
        margin-right: 10px; 
   
} */
.imagecontainer {
    border-radius: 15px;
    height: 250px;
    width: 300px;
    /* border: 4px darkred black; */
    object-fit: cover;
}

.img {
    border-radius: 5px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    height: 100%;
    object-fit: cover;
    width: 100%;
}
h4 {
  font-size: 5rem;
  font-family: Times, serif;
  width: 80%;
  color: black; /* Set the initial color to black or your desired color */
  transition: color 0.3s; /* Add a smooth transition effect for the color change */
}


@media only screen and (max-width: 600px) {
 h4{
  font-size: 2rem;
  color: brown;
  width: 90%;
 }
}
h4:hover {
  color: rgb(9, 17, 0); /* Change the color to red when hovering */

}
